* {
    box-sizing: border-box;
}

body,
html {
    font: 16px/1.4 Georgia, serif;
}

@media only screen and (max-width: 500px) {
    body,
    html {
        font: 14px;
    }
}

.page {
    max-width: 400px;
    padding: 1.5rem;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

h1 {
    font: 2rem/1.2 Georgia, serif;
    margin-bottom: 1.5rem;
}

.game {
    margin-bottom: 1.5rem;
    &Shuffle {
        pointer-events: none;
        opacity: 0.8;
    }
}

.fifteen {
    width: 100%;
    padding-bottom: 100%
    background: #e5d6f6;
    margin-bottom: 1.5rem;
    position: relative

    .item {
        outline: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 25%;
        height: 25%;
        margin: 0;
        padding: 0;
        border: none;
        background: #000000;
        color: #ffffff;
        font-size: 2rem;
        cursor: pointer;
        box-shadow: inset 1px 1px #e5d6f6;
        transition: transform 0.2s, filter 0.5s;

        &Val {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 84%;
            height: 84%;
            margin: 8%;
            box-shadow: inset 0 0 0 2px #922ec5;
        }
    }

    &Won {
        .item {
            filter: brightness(200%);
        }
    }
}

.button {
    color: #ffffff;
    background: #000000;
    font: 1.2rem/1.4 Georgia, serif;
    border: none;
    cursor: pointer;
    padding: 0.5em 1.5em;

    &:hover {
        background: #922ec5;
    }
}

.table {
    display: none;

    &__show {
        margin: 0 auto;
        text-align: center;
        user-select: none;
        margin-bottom: 1.5rem;

        thead {
            font-weight: bold;
        }

        th {
            padding: 0.1rem 0.5rem;
        }

        .hideTh {
            display: none;
        }
    }
} 

.button_hide {
    display: none;
}

.container {
    margin: 0 auto;
    text-align: center;
    user-select: none;
    padding-bottom: 1.5rem;
}

.timer_container {
    width: 50%;
    /* height: 50%; */
    /* padding-bottom: 25% */
    background: #e5d6f6;
    margin: 0 auto;
    display: flex;
    margin-bottom: 1.5rem;

    .timer {
        width: 100%;
        height: 100%;
        color: #ffffff;
        background: #000000;
        font-size: 1.5rem;

        .timeVal {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 84%;
            height: 84%;
            margin: 8%;
            box-shadow: inset 0 0 0 2px #922ec5;
        }
    }
}
